<h1>Editing Article</h1>
<!-- method: :patch tells rails that we want the form to be submitted via the PATCH -->
<!-- HTTP method (which is right for the RESTful protocol) -->
<%= form_for :article, url: article_path(@article), method: :patch do |f| %>
	<% if @article.errors.any?%>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@article.errors.count, "error") %>
				Prohibited this article from being saved: 
			</h2>
			<ul>
				<% @article.errors.full_message.each go |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :text %>
		<%= f.text_area :text %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to 'Back', articles_path %>