<p>
	<strong>Title:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @article.text %>
</p>

<h2>Comments</h2>
<!-- Renders the partial in _comment.html.erb once for each comment that is in @article.commints collection -->
<%= render @article.comments %>

<!-- Wire up to let us make comments -->
<!-- Adds a form on Article show page that creates a new comment by calling CommentsController create action -->
<h2>Add a comment, bud:</h2>
<!-- This 2nd render defines partial template to render (comments/form)-->
<%= render @article.comments %>

<!-- add a link to go back to the index action -->
<%= link_to 'Edit Article', edit_article_path(@article) %>
<%= link_to 'Back to Articles', articles_path %>
